@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: blue;
}

ul,
li {
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  background-color: #2B2B2B;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 100px;
}
.topnav img {
  max-width: 90%;
  object-fit: cover;
}
.topnav .topnav_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.topnav .topnav_right ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.topnav .topnav_right ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  word-break: break-all;
}
.topnav .topnav_right ul li a span {
  width: 90%;
  height: 2px;
  background-color: grey;
  opacity: 0;
  transition: 0.5s ease;
}
.topnav .topnav_right ul li a:hover > span {
  opacity: 1;
  transform: translateY(3px);
}
.topnav .topnav_right .topnav_sign_up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 152px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background-color: #A259FF;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}
.topnav .topnav_right .topnav_sign_up:hover {
  transform: scale(1.05);
  background-color: #7a44c1;
}
.topnav #topnan_menu_button {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  color: white;
  border-radius: 10px;
  transition: 0.2s ease;
  cursor: pointer;
}
.topnav #topnan_menu_button:hover {
  background-color: gray;
}

#topnav_menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgb(104, 104, 104);
  padding: 50px 0px;
  gap: 50px;
  transition: 1s ease;
}
#topnav_menu img {
  max-width: 90%;
  width: 366px;
  object-fit: cover !important;
}
#topnav_menu .topnav_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
#topnav_menu .topnav_center ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#topnav_menu .topnav_center ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: white;
  word-break: break-all;
}
#topnav_menu .topnav_center ul li a span {
  width: 90%;
  height: 2px;
  background-color: grey;
  opacity: 0;
  transition: 0.5s ease;
}
#topnav_menu .topnav_center ul li a:hover > span {
  opacity: 1;
  transform: translateY(3px);
}
#topnav_menu .topnav_center .topnav_sign_up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 304px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background-color: #A259FF;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
  max-width: 90%;
}
#topnav_menu .topnav_center .topnav_sign_up:hover {
  transform: scale(1.05);
  background-color: #7a44c1;
}
#topnav_menu .topnav_menu_close_mine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
}
#topnav_menu .topnav_menu_close_mine #topnav_menu_close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  border: 1.5px solid black;
  border-radius: 10px;
  transition: 0.2s ease;
  cursor: pointer;
}
#topnav_menu .topnav_menu_close_mine #topnav_menu_close:hover {
  background-color: gray;
}

#topnan_menu_button {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  color: white;
  border-radius: 10px;
  transition: 0.2s ease;
}
#topnan_menu_button:hover {
  background-color: gray;
}

.step_1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  width: 70%;
  padding: 80px 0;
  gap: 60px;
}
.step_1 img {
  object-fit: contain;
  max-width: 100%;
}
.step_1 .step_1_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.step_1 .step_1_left h1 {
  max-width: 510px;
  font-size: 67px;
  font-weight: 600;
  line-height: 110%;
  color: white;
  text-transform: capitalize;
}
.step_1 .step_1_left p {
  max-width: 510px;
  font-size: 22px;
  line-height: 160%;
  color: white;
  text-transform: capitalize;
}
.step_1 .step_1_left button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 224px;
  height: 60px;
  background-color: #A259FF;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}
.step_1 .step_1_left button span {
  font-weight: 200;
}
.step_1 .step_1_left button:hover {
  transform: scale(1.05);
  background-color: #7a44c1;
}
.step_1 .step_1_left .step_1_left_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h2 {
  font-family: "Space Mono", monospace;
  font-size: 28px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}
.step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h4 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  color: white;
}
.step_1 .step_1_right {
  transition: 0.5s ease;
}
.step_1 .step_1_right .step_1_right_footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 109px;
  background-color: #3B3B3B;
  transform: translateY(-5px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}
.step_1 .step_1_right .step_1_right_footer h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  color: white;
}
.step_1 .step_1_right .step_1_right_footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 12px;
}
.step_1 .step_1_right:hover {
  transform: scale(1.05);
}

.step_2 {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 80px 0;
  gap: 60px;
}
.step_2 .step_2_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.step_2 .step_2_header h2 {
  font-size: 38px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}
.step_2 .step_2_header p {
  font-size: 22px;
  font-weight: 300;
  text-transform: capitalize;
  color: white;
}
.step_2 .step_2_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-basis: content;
  gap: 20px;
}
.step_2 .step_2_content img {
  max-width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}
.step_2 .step_2_content img:hover {
  transform: scale(1.05);
}
.step_2 .step_2_content .step_2_box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.step_2 .step_2_content .step_2_box .step_2_box_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.step_2 .step_2_content .step_2_box .step_2_box_content img {
  width: 100px;
  max-width: 100%;
  object-fit: cover;
}
.step_2 .step_2_content .step_2_box .step_2_box_content .step_2_box_count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", sans-serif;
  width: 100px;
  height: 100px;
  background-color: #A259FF;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  transition: 0.5s ease;
  cursor: default;
}
.step_2 .step_2_content .step_2_box .step_2_box_content .step_2_box_count:hover {
  transform: scale(1.05);
  background-color: #6b38ac;
}
.step_2 .step_2_content .step_2_box .step_2_box_footer {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}
.step_2 .step_2_content .step_2_box .step_2_box_footer h2 {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}
.step_2 .step_2_content .step_2_box .step_2_box_footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: white;
}

.step_3 {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 80px 0;
  gap: 60px;
}
.step_3 .step_3_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.step_3 .step_3_header .step_3_header_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.step_3 .step_3_header .step_3_header_left h2 {
  font-size: 38px;
  font-weight: 600;
  text-transform: capitalize;
}
.step_3 .step_3_header .step_3_header_left p {
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
}
.step_3 .step_3_header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 247px;
  height: 60px;
  background: none;
  border: 2px solid #A259FF;
  border-radius: 20px;
  color: white;
  transition: 0.5s ease;
}
.step_3 .step_3_header a span {
  color: #A259FF;
}
.step_3 .step_3_header a:hover {
  transform: scale(1.05);
  background-color: #6b38ac;
}
.step_3 .step_3_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.step_3 .step_3_content .step_3_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 240px;
  height: 238px;
  background-color: #3B3B3B;
  border-radius: 20px;
  text-align: center;
  transition: 0.5s ease;
  cursor: default;
}
.step_3 .step_3_content .step_3_box:hover {
  transform: scale(1.09);
}
.step_3 .step_3_content .step_3_box .step_3_box_count {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 18px 20px;
}
.step_3 .step_3_content .step_3_box .step_3_box_count span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #858584;
  background-color: #2B2B2B;
  border-radius: 50%;
}
.step_3 .step_3_content .step_3_box .step_3_box_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.step_3 .step_3_content .step_3_box .step_3_box_content h2 {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}
.step_3 .step_3_content .step_3_box .step_3_box_content p {
  font-size: 16px;
  font-weight: 400;
  color: #858584;
}
.step_3 .step_3_content .step_3_box .step_3_box_content p span {
  color: white;
}


.step_4 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 0;
  width: 70%;
}
.step_4 h1 {
  font-size: 38px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}
.step_4 .step_4_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  width: 140%;
}
.step_4 .step_4_content .step_4_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step_4 .step_4_content .step_4_box .step_4_box_bg_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(/img/MinePage/step_4/bg_box_1.png);
  width: 240px;
  height: 240px;
  z-index: 0;
  border-radius: 20px;
  transition: 0.5s ease;
}
.step_4 .step_4_content .step_4_box .step_4_box_bg_1 img {
  position: absolute;
  top: 30%;
  transition: 0.5s cubic-bezier(0.25, 0.1, 0.17, 0.99);
}
.step_4 .step_4_content .step_4_box .step_4_box_bg_1 h2 {
  position: absolute;
  top: 60%;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  transition: 0.5s ease;
  opacity: 0;
}
.step_4 .step_4_content .step_4_box .step_4_box_bg_1 .step_4_box_bg_blur {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(4px);
  border-radius: 20px;
}
.step_4 .step_4_content .step_4_box:hover > .step_4_box_bg_1 img {
  top: 25%;
}
.step_4 .step_4_content .step_4_box:hover > .step_4_box_bg_1 h2 {
  top: 65%;
  opacity: 1;
}

@media screen and (max-width: 1466px) {
  .step_2 .step_2_content {
    justify-content: center !important;
  }
}
@media screen and (max-width: 1024px) {
  .step_1 {
    align-items: center;
  }
  .step_1 .step_1_left h1 {
    font-size: 50px;
  }
  .step_1 .step_1_left p {
    font-size: 18px;
  }
  .step_1 .step_1_left button {
    width: 200px;
    height: 50px;
  }
  .step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h2 {
    font-size: 20px;
  }
  .step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h4 {
    font-size: 20px;
  }
  .step_2 .step_2_content {
    flex-wrap: wrap;
    gap: 35px !important;
  }
  .step_2 .step_2_content .step_2_box .step_2_box_content {
    flex-wrap: wrap;
  }
  .step_3 .step_3_header .step_3_header_left h2 {
    font-size: 30px;
  }
  .step_3 .step_3_header .step_3_header_left p {
    font-size: 15px;
  }
  .step_3 .step_3_header a {
    width: 247px/2;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .topnav .topnav_right {
    display: none !important;
  }
  .topnav #topnan_menu_button {
    display: flex;
  }
  .step_1 {
    flex-direction: column;
    text-align: center;
  }
  .step_1 .step_1_left {
    align-items: center;
  }
  .step_1 .step_1_left h1 {
    font-size: 40px;
  }
  .step_1 .step_1_right .step_1_right_footer {
    text-align: start;
  }
  .step_2 .step_2_header {
    text-align: center;
  }
  .step_2 .step_2_content {
    gap: 45px !important;
  }
  .step_3 {
    padding: 80px 0;
  }
  .step_3 .step_3_header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .topnav {
    padding: 0 10px;
  }
  .step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h2 {
    font-size: 16px;
  }
  .step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h4 {
    font-size: 16px;
  }
  .step_1 .step_1_right .step_1_right_footer h3 {
    font-size: 18px;
  }
  .step_1 .step_1_right .step_1_right_footer a {
    font-size: 14px;
  }
  .step_2 .step_2_header h2 {
    font-size: 28px;
  }
  .step_2 .step_2_header p {
    font-size: 18px;
  }
  .step_2 .step_2_content {
    gap: 60px !important;
  }
  .step_2 .step_2_content .step_2_box .step_2_box_footer {
    text-align: center;
  }
  .step_2 .step_2_content .step_2_box .step_2_box_footer a {
    justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  .step_1 .step_1_left h1 {
    font-size: 40px;
  }
  .step_1 .step_1_left p {
    font-size: 16px;
  }
  .step_1 .step_1_left button {
    width: 180px;
    height: 40px;
  }
  .step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h2 {
    font-size: 16px;
  }
  .step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .step_1 {
    padding: 25px 0;
  }
  .step_1 .step_1_left h1 {
    font-size: 30px;
  }
  .step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h2 {
    font-size: 14px;
  }
  .step_1 .step_1_left .step_1_left_footer .step_1_left_footer_box h4 {
    font-size: 10px;
  }
  .step_2 .step_2_content {
    gap: 100px;
  }
}