.step_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    width: 70%;
    // height: 704px;
    padding: 80px 0;
    gap: 60px;

    img {
        object-fit: contain;
        max-width: 100%;
    }

    .step_1_left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;

        h1 {
            max-width: 510px;
            font-size: 67px;
            font-weight: 600;
            line-height: 110%;
            color: white;
            text-transform: capitalize;
        }

        p {
            max-width: 510px;
            font-size: 22px;
            line-height: 160%;
            color: white;
            text-transform: capitalize;
        }

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 12px;
            width: 224px;
            height: 60px;
            background-color: #A259FF;
            border: none;
            border-radius: 20px;
            color: white;
            cursor: pointer;
            transition: 0.5s ease;

            span {font-weight: 200;}

            &:hover {
                transform: scale(1.05);
                background-color: #7a44c1;
            }
        }

        .step_1_left_footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 30px;
            
            .step_1_left_footer_box {
                h2 {
                    font-family: 'Space Mono', monospace;
                    font-size: 28px;
                    font-weight: 500;
                    color: white;
                    text-transform: capitalize;
                }

                h4 {
                    font-size: 24px;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: white;
                }
            }
        }
    }

    .step_1_right {
        .step_1_right_footer {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 109px;
            background-color: #3B3B3B;
            transform: translateY(-5px);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 20px;

            h3 {
                font-size: 22px;
                font-weight: 600;
                line-height: 140%;
                text-transform: capitalize;
                color: white;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: white;
                gap: 12px;
            }
        }
    }
}

.step_2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 80px 0;
    gap: 60px;

    .step_2_header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 38px;
            font-weight: 600;
            text-transform: capitalize;
            color: white;
        }

        p {
            font-size: 22px;
            font-weight: 300;
            text-transform: capitalize;
            color: white;
        }
    }

    .step_2_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-basis: content;
        gap: 20px;

        img {
            max-width: 100%;
            object-fit: cover;
        }

        .step_2_box {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .step_2_box_content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                gap: 15px;

                img {
                    width: 100px;
                    max-width: 100%;
                    object-fit: cover;
                }

                .step_2_box_count {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Space Mono', sans-serif;
                    width: 100px;
                    height: 100px;
                    background-color: #A259FF;
                    border-radius: 20px;
                    font-size: 22px;
                    font-weight: 700;
                    color: white;
                    text-transform: capitalize;
                }
            }

            .step_2_box_footer {
                display: flex;
                flex-direction: column;
                text-align: start;
                gap: 10px;

                h2 {
                    font-size: 22px;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: white;
                }

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;
                    font-size: 16px;
                    color: white;

                }
            }
        }
    }
}