.MarketPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .MarketPlace_header {
        width: 70%;
        margin: 80px 0;
        h2 {
            font-size: 51px;
            font-weight: 600;
            text-transform: capitalize;
            color: white;
            margin-bottom: 10px;
        }

        p {
            font-size: 22px;
            font-weight: 400;
            line-height: 160%;
            color: white;
            margin-bottom: 30px;
        }

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            input {
                width: 100%;
                height: 60px;
                border-radius: 20px;
                padding: 12px 20px;
                outline: none;
                border: 1px solid #3B3B3B;
                background: none;
                transition: 0.5s ease;
                color: whitesmoke;

                &::placeholder {transition: 0.5s ease;}

                &:focus {
                    & + span {
                        transform: scale(1.2);
                    }

                    &::placeholder {
                        opacity: 0;
                    }
                }
            }

            span {
                position: absolute;
                left: 95%;
                font-size: 35px;
                color: white;
                transition: 0.5s ease;
            }

        }

    }
    
    .MarketPlace_switch_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 70px;
        border-top: 1px solid #3B3B3B;
        padding: 0 115px;


        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            gap: 26px;
            width: 100%;
            background: none;
            border: none;
            cursor: pointer;
            transition: 0.5s ease;

            & > h2 {
                font-size: 22px;
                font-weight: 600;
                color: white;
            }

            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                font-size: 16px;
                font-weight: 400;
                color: white;
                width: 50px;
                height: 32px;
                background-color: #858584;
            }

            .line {
                position: absolute;
                top: 100%;
                width: 100%;
                height: 1px;
                background-color: #858584;
                transition: 0.5s ease;
                opacity: 0;
            }

            .activ {
                opacity: 1 !important;
            }

            &:hover {
                .line {
                    opacity: 1;
                }
            }
        }
    }

    .MarketPlace_step_2 {
        display: none;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid #2B2B2B;
        transition: 0.4s ease !important;
        opacity: 0;

        .step_2_content {
            gap: 30px;
            justify-content: center;
            flex-wrap: wrap;
            width: 80%;
        }
    }

    .MarketPlace_step_5 {
        display: flex;
        width: 100%;
        border-bottom: 2px solid #2B2B2B;
        align-items: center;
        transition: 0.4s ease !important;
        opacity: 1;

        .MarketPlace_step_5_content {
            align-items: center;
            justify-content: center;
            width: 80%;
            .MarketPlace_step_5_box {
                .step_5_box_content {
                    background-color: #2B2B2B;
                }
            }
        }
    }
}
