.RanksPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 0;

    .RanksPage_header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 70%;
        padding: 40px 0px;
        
        h2 {
            font-size: 52px;
            font-weight: 600;
            color: white;
            text-transform: capitalize;
        }

        p {
            font-size: 22px;
            font-weight: 400;
            line-height: 160%;
            color: white;
        }
    }

    .RanksPage_content {
        display: flex;
        flex-direction: column;
        align-items: center     ;
        width: 100%;

        .RanksPage_contnet_header {
            display: flex;
            flex-direction: row;
            width: 80%;
            button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 60px;
                position: relative;
                background: none;
                border: none;
                color: #858584;
                font-size: 22px;
                font-weight: 600;
                cursor: pointer;
                transition: 0.5s ease;

                span {
                    position: absolute;
                    top: 60px;
                    width: 100%;
                    height: 2px;
                    background-color: #858584;
                    opacity: 0;
                    transition: 0.5s ease;
                }

                &:hover {
                    color: white;

                    span {
                        opacity: 1;
                    }
                }
            }

            .acitv {
                color: white !important;
                span {
                    opacity: 1 !important;
                }
            }
        }

        .RanksPages_content_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            height: 46px;
            border: 1px solid #3B3B3B;
            margin: 40px 0 20px 0;
            padding: 0 120px 0 20px;
            border-radius: 20px;

            & > h3 {
                font-size: 16px;
                font-weight: 400;
                color: #858584;
                word-spacing: 20px;
            }

            .RanksPages_content_info_right {
                display: flex;
                flex-direction: row;
                gap: 60px;
                
                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    color: #858584;
                }
            }
        }

        .RanksPages_content_users {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 80%;

            h2 {
                font-size: 35px;
                padding: 80px 0;
                color: white;
            }

            .RanksPages_content_user_block {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 84px;
                background-color: #3B3B3B;
                border-radius: 20px;
                padding: 0 120px 0 20px;
                transition: 0.5s ease;

                &:hover {
                    transform: scale(1.03);
                }

                .RanksPages_content_user_block_header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;

                    span {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: #858584;
                        width: 30px;
                        height: 30px;
                        background-color: #2B2B2B;
                        border-radius: 50%;
                    }

                    h2 {
                        font-size: 22px;
                        font-weight: 600;
                        color: white;
                    }
                }

                .RanksPages_content_user_block_right {
                    display: flex;
                    flex-direction: row;
                    gap: 120px;

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: white;
                    }
                }
            }
        }
    }
}