* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
}

ul, 
li {
    margin: 0;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    background-color: #2B2B2B;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}