
.Error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;

    .bg_error {
        position: absolute;
        z-index: 10;
        font-size: 400px;
        color: #ffffff;
        transform: rotateX(10deg) rotateY(35deg);    
        text-shadow: -10px 8px 3px 	rgba(169, 169, 169, 0.2);
        opacity: 0.2;
        user-select: none;
        cursor: default;
    }

    .Error404_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 12;
        color: white;
        text-align: center;

        h2 {
            font-size: 50px;
        }

        p {
            font-size: 18px;
            margin-bottom: 10px;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 40px;
            font-size: 18px;
            font-weight: 500;
            background-color: #a259ff;
            border-radius: 10px;
            color: white;
            transition: 0.5s ease;

            &:hover {
                box-shadow: -3px 7px 6px 0px rgba(0, 0, 0, 0.45);
                transform: scale(1.02);
            }
        }
    }
}